<div class="menu-container">
    <app-header></app-header>
    
    <main class="menu-main">
        <div class="menu-header">
            <h1>Our Menu</h1>
            <p>Discover our carefully curated selection of exceptional dishes</p>
        </div>

        <!-- Category Filter -->
        <app-filter (filterByCategory)="filterByCategory($event)"  [categories]="categories!"/>

        <!-- Dish Grid -->
        @if (dishes.length > 0) {
            <app-dish-grid (openDishDetail)="openDishDetails($event)" [dishes]="dishes"/>
        }

        <!-- Loading State -->
        @if (dishes.length === 0 && loading) {
            <div class="loading">
                <div class="loading-spinner"></div>
            <p>Loading delocious dishes..</p>
            </div> 
        }

        <!-- Empty State -->
        @if (!loading && dishes.length === 0) {
            <div class="empty-state">
            <h3>No dishes found</h3>
            <p>Try selecting a different category or check back later.</p>
            </div>
        }
    </main>

    <!--Dish Detail Modal-->
    @if (selectedDish) {
        <app-dish-detail (closeModal)="closeDishDeatil()"  [dish]="selectedDish"/>
    }

    <app-footer></app-footer>
</div>