<app-form-section [title]="title">
    <div class="form-row">
        <app-form-group>
            <label for="name">Full Name</label>
            <input 
            type="text"
            id="name"
            placeholder="Enter your full name"
            >
        </app-form-group>

        <app-form-group>
            <label for="email">Email</label>
            <input 
            type="email"
            id="email"
            placeholder="Enter your email"
            >
        </app-form-group>


        <app-form-group>
            <label for="email">Phone Number</label>
            <input 
            type="tel"
            id="phone"
            placeholder="Enter your phone number"
            >
        </app-form-group>

    </div>
</app-form-section>